

#menuGame {
  position: absolute;
  display: block;
}

.menuItems {
  display: block;
  position: relative;
}

#canvasTests {
  position: absolute;
  bottom: 100px;
} 

#canvasElem {
  display: none;
}

